@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll-bar {
  scrollbar-width: none;
}
.no-scroll-bar::-webkit-scrollbar {
  scrollbar-width: none;
}
.no-scroll-bar::-webkit-scrollbar {
  -ms-overflow-style: none;
}

.no-scroll-bar {
  /* Hide scrollbar for IE 10+ and Edge */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  overflow: auto;
}
.no-scroll-bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Edge */
}
